<head>
  <meta charset="UTF-8">

  <!-- Enable responsiveness on mobile devices -->
  <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1">

  <title>
    Interclamnetted
  </title>

  <!-- JS -->
  <script type="text/javascript" src="{{ site.url }}/js/nav.js"></script>

  <!-- CSS -->
  <link rel="stylesheet" href="{{ site.url }}/css/basicFormatStylesheet.css">
  <link rel="stylesheet" href="{{ site.url }}/css/navStylesheet.css">
  <link rel="stylesheet" href="{{ site.url }}/css/colorClassesStylesheet.css">

  <link rel="stylesheet" href="{{ site.url }}/css/indexStylesheet.css">
  <link rel="stylesheet" href="{{ site.url }}/css/contentStylesheet.css">
  <link rel="stylesheet" href="{{ site.url }}/css/aboutStylesheet.css">

  <!-- Icons -->
  <link rel="icon" type="image/png" href="{{ site.url }}/assets/defaultFavicon.png">

</head>