<nav class="navVineWrapper">
	<img id="navVineTop" src="{{ site.url }}/assets/navVineTop.svg" />
	
	<img id="navVineTFH" src="{{ site.url }}/assets/navVineTFH.svg" alt="menu" />
	
	<img id="navVineMiddle" src="{{ site.url }}/assets/navVineMiddle.svg" />

	<a href="{{ site.url }}"><img id="pearlHome" src="{{ site.url }}/assets/pearlHome.svg" alt="home" /></a>
	<img id="pearlHomeText" src="{{ site.url }}/assets/pearlHomeText.svg" />

	<img id="navVineMiddle2" src="{{ site.url }}/assets/navVineMiddle.svg" />

	<a href="{{ site.url }}/content"><img id="pearl1" src="{{ site.url }}/assets/pearl1.svg" alt="content"/></a>
	<img id="pearl1Text" src="{{ site.url }}/assets/pearl1Text.svg" />

	<img id="navVineBottom" src="{{ site.url }}/assets/navVineBottom.svg" />				

	<a href="{{ site.url }}/about"><img id="pearl2" src="{{ site.url }}/assets/pearl2.svg" alt="about" /></a>
	<img id="pearl2Text" src="{{ site.url }}/assets/pearl2Text.svg" />
</nav>